[submodule "Arduinojs"]
	path = Arduinojs
	url = https://github.com/OpenFPGAduino/Arduinojs.git
[submodule "fpga"]
	path = fpga
	url = https://github.com/OpenFPGAduino/fpga.git
[submodule "libAduino"]
	path = libAduino
	url = https://github.com/OpenFPGAduino/libAduino.git
[submodule "driver"]
	path = driver
	url = https://github.com/OpenFPGAduino/driver.git
[submodule "ArduinoIDE"]
	path = ArduinoIDE
	url = https://github.com/OpenFPGAduino/ArduinoIDE.git
[submodule "docs"]
	path = docs
	url = https://github.com/OpenFPGAduino/docs.git
[submodule "boot"]
	path = boot
	url = https://github.com/OpenFPGAduino/boot.git
[submodule "hardware"]
	path = hardware
	url = https://github.com/OpenFPGAduino/hardware.git
[submodule "linux"]
	path = linux
	url = https://github.com/OpenFPGAduino/linux.git
[submodule "node"]
	path = node
	url = https://github.com/OpenFPGAduino/node.git
[submodule "rootfs"]
	path = rootfs
	url = https://github.com/OpenFPGAduino/rootfs.git
[submodule "sdcard"]
	path = sdcard
	url = https://github.com/OpenFPGAduino/sdcard.git
[submodule "FPGAdesigner"]
	path = FPGAdesigner
	url = https://github.com/OpenFPGAduino/FPGAdesigner.git
[submodule "script"]
	path = script
	url = https://github.com/OpenFPGAduino/script.git
[submodule "wifi"]
	path = wifi
	url = https://github.com/OpenFPGAduino/wifi.git
[submodule "cloud"]
	path = cloud
	url = https://github.com/OpenFPGAduino/cloud.git
[submodule "bigdata"]
	path = bigdata
	url = https://github.com/OpenFPGAduino/bigdata.git
[submodule "ArduinojsIDE"]
	path = ArduinojsIDE
	url = https://github.com/OpenFPGAduino/ArduinojsIDE.git
[submodule "MobileApp"]
	path = MobileApp
	url = https://github.com/OpenFPGAduino/MobileApp.git
[submodule "OpenFPGAduino.github.io"]
	path = OpenFPGAduino.github.io
	url = https://github.com/OpenFPGAduino/OpenFPGAduino.github.io.git
[submodule "IoT"]
	path = IoT
	url = https://github.com/OpenFPGAduino/IoT.git
[submodule "sdn"]
	path = sdn
	url = https://github.com/OpenFPGAduino/sdn.git
[submodule "BlocklyIDE"]
	path = BlocklyIDE
	url = https://github.com/OpenFPGAduino/BlocklyIDE.git
[submodule "machinelearning"]
	path = machinelearning
	url = https://github.com/OpenFPGAduino/machinelearning.git
